header {
	height: 10vh;
}


    nav ul{
        margin-left: auto;
        width: 40%;
        padding: 30px 60px;
        display: flex;
       justify-content: space-between;
        align-items: center;
        list-style: none;
        font-weight: bold;
    }
.nav-links li{
    display: inline-flex;
    align-items: center;
}
.nav-links li img{
    margin-left: 5px;
}
.box{
    width: 1450px;
    height: 400px;
    margin: 0 auto;
    background-image: url(https://images.unsplash.com/photo-1627947412171-b6d0c91b758f?ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyMXx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    text-align: center; 
}
.btn{
    width: 130px;
    height: 60px;
 background-color: seagreen;
    border-radius: 20px;
    margin-left: 10px
}
.main1{
    width: 800px;
    height: 100px;
    background-color: rgb(231, 227, 243);
   margin-left: 300px;
   margin-top: 5%;
   border-radius: 30px;
}
.main1-links{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
.main1-links ol{
    display: inline-flex;
    align-items: center;
}
.main1-links ol img{
    margin-right: 5px;
}
.box h1{
color: white;
padding-top:60px ;
}
.main2{
  display: flex;
  justify-content: space-around;
  padding-left: 30px;
    padding: 30px;
    grid-gap: 20px;
    margin-left: 200px;
    margin-top: 15px;
    color: white;
    }
    .wrap{
        width: 160px;
        height: 50px;
    background-image: url(https://images.unsplash.com/photo-1586227740560-8cf2732c1531?ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1128&q=80);
background-repeat: no-repeat;
background-size: cover;
border-radius: 10px;
padding-top: 30px;
padding-left: 20px;
    }
    .wrap1{
        width: 160px;
        height: 50px;
    background-image: url(https://images.unsplash.com/photo-1555628510-5e8e0a09a667?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE4fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60);
background-repeat: no-repeat;
background-size: cover;
border-radius: 10px;
padding-top: 30px;
padding-left: 20px;
    }
    .wrap2{
        width: 160px;
        height: 50px;
    background-image: url(https://images.unsplash.com/photo-1603486568366-ec16272b39a5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE5fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60);
background-repeat: no-repeat;
background-size: cover;
border-radius: 10px;
padding-top: 30px;
padding-left: 20px;
    }
    .wrap3{
        width: 160px;
        height: 50px;
    background-image: url(https://images.unsplash.com/photo-1627840935425-3d333bb627f8?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDEyfGJvOGpRS1RhRTBZfHxlbnwwfHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
background-repeat: no-repeat;
background-size: cover;
border-radius: 10px;
padding-top: 30px;
padding-left: 20px;
    }
    .wrap4{
        width: 160px;
        height: 50px;
    background-image: url(https://images.unsplash.com/photo-1628000858743-751c4227d211?ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyMHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
background-repeat: no-repeat;
background-size: cover;
border-radius: 10px;
padding-top: 30px;
padding-left: 20px;
    }
    .wrap5{
        width: 160px;
        height: 50px;
    background-image: url(https://images.unsplash.com/photo-1621184315241-2f8eebaaa6a1?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDEwfGJvOGpRS1RhRTBZfHxlbnwwfHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
background-repeat: no-repeat;
background-size: cover;
border-radius: 10px;
padding-top: 30px;
padding-left: 20px;
    }
    .wrap6{
        width: 160px;
        height: 50px;
    background-image: url(https://images.unsplash.com/photo-1627539615229-2e5a2779c287?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDE4fGJvOGpRS1RhRTBZfHxlbnwwfHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
background-repeat: no-repeat;
background-size: cover;
border-radius: 10px;
padding-top: 30px;
padding-left: 20px;
    }
    h1{
        font-size: 2em;
        color: #000;
    }
    .grid{
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: 250px auto auto;
        padding: 30px 30px 0 0;
        grid-gap: 20px;
        }
             
        .grid1{
            position: relative;
            background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTHkbbWoTLS6dNF7L9T8D7r5MvTnVn5CaxTVA&usqp=CAU);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            -webkit-box-shadow: -1px 17px 19px 1px rgba(34, 60, 80, 0.2);
-moz-box-shadow: -1px 17px 19px 1px rgba(34, 60, 80, 0.2);
box-shadow: -1px 17px 19px 1px rgba(34, 60, 80, 0.2);
border-radius: 20px;
        }
        .grid2{
            position: relative;
            background-image: url(https://images.unsplash.com/photo-1627840935425-3d333bb627f8?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDJ8NnNNVmpUTFNrZVF8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            -webkit-box-shadow: -1px 17px 19px 1px rgba(34, 60, 80, 0.2);
-moz-box-shadow: -1px 17px 19px 1px rgba(34, 60, 80, 0.2);
box-shadow: -1px 17px 19px 1px rgba(34, 60, 80, 0.2);
border-radius: 20px;
        }
        .grid3{
            position: relative;
            background-image: url(https://images.unsplash.com/photo-1621184455846-a84bfd77fcbe?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDd8NnNNVmpUTFNrZVF8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            -webkit-box-shadow: -1px 17px 19px 1px rgba(34, 60, 80, 0.2);
-moz-box-shadow: -1px 17px 19px 1px rgba(34, 60, 80, 0.2);
box-shadow: -1px 17px 19px 1px rgba(34, 60, 80, 0.2);
border-radius: 20px;
        }
        .grid4{
            position: relative;
            background-image: url(https://images.unsplash.com/photo-1627840935504-0672df8e8c14?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDE2fDZzTVZqVExTa2VRfHxlbnwwfHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            -webkit-box-shadow: -1px 17px 19px 1px rgba(34, 60, 80, 0.2);
-moz-box-shadow: -1px 17px 19px 1px rgba(34, 60, 80, 0.2);
box-shadow: -1px 17px 19px 1px rgba(34, 60, 80, 0.2);
border-radius: 20px;
        }
        .main3{
            margin-left: 230px;
            margin-top: 70px; 
        }
        .bac-color{
            background-color: aliceblue;
        }
h3{
color: darkgreen;
}
.main4{
width: 1110px;
height: 500px;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
margin: 5px;
margin-top: 200px;
border-radius: 50px;
background-image: url(https://bugaga.ru/uploads/posts/2014-01/1390556762_idi-za-mnoy-6.jpg);
}
.main5{
column-count: auto;
padding-left: 60px;
padding-top: 255px;

}
.black{
color: white;
}
.backer{
color: white;
}
.btn1{
width: 200px;
height: 45px;
color: white;
background-color: turquoise;
border-radius: 20px;
}
p{
    color: dimgray;
}
.box2{
    font-size: 2.5em;
}
h4{
    color: dimgray;
}
.main7{
    display: flex;


}

.main6{
    width: 250px;
    height: 350px;
    background-image: url(https://images.unsplash.com/photo-1627245743789-304667cbcb1f?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDY1fDZzTVZqVExTa2VRfHxlbnwwfHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
  
}
.main5{
    margin-left: 170px;
    margin-top:-100px ;
}
.main8{
    width: 250px;
    height: 350px;
    background-image: url(https://images.unsplash.com/photo-1627245743789-304667cbcb1f?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDY1fDZzTVZqVExTa2VRfHxlbnwwfHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    margin-left: 350px;
    margin-top: -320px;
}
.main10{
    margin-left: 45px;
}
.main12{
   padding-left: 60px;
   padding-top: 250px;
}
.main14{
    margin-left: 5px;
    margin-top: 100px;
}
b{
    color: black;
}
.footer-links{
    display: flex;
    margin-top: 100px;
    max-width: 1050px;
    width: 100%;
    margin: 0 auto;
    padding-top: 100px;
    flex-wrap: wrap;
}
.footer-links > div{
    width: 50%;
}
.flexx{
    text-align: end;
}
.end{
margin-top: 250px;
}
.end1{
margin-top: 105px;
}
.footer-icons{
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.select{
    width: 229px;
    height: 40px;
}
.img-person{
    height: 40px;
    width: 40px;
    background-image: url(https://images.unsplash.com/photo-1628112542159-9864d7a6dbd3?ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwzOHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
    margin-right: 10px;
    border-radius: 50%;
}
.img-block{
    display: flex;
    align-items: center;
}
.pracent{
    padding: 10px 20px;
    background-color: white;
    display: inline-block;
    font-weight: bold;
    border-radius: 6px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.flexx-block{
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
}
.flexx-block > div{
    margin-right: 15px;
}
.flexxx{
    position: relative;
}
.flexxx input{
    width: 50%;
    height: 60px;
    border-radius: 16px;
    border-color: #eeeeee;
    padding-right: 150px;
}
.flexxx button{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(0,-50%);
    height: 70%;
    background: #37ab4a;
    border-radius: 16px;
    border: none;
    color: white;
    font-weight: bold;
    padding: 0 20px;
}
.flexxx input:focus-visible{
    outline: none;
}
.wrapp{
    display: flex;
    justify-content: space-between;
    align-items: center;
border-bottom: 1px solid #eeeeee;
}
.main15{
    margin-left: 5px;
    margin-top: 200px;
}
.main16{
  margin-left: 650px;
  margin-top: -360px;
}
.main17{
    padding-left: 30px;
}
.footer-div{
    margin-left:-280px;
}
.main18{
    margin-top: 200px;
}

.social-icon{
    margin-top: 20px;
    display: flex;

}

.social-icon img{
    margin-right: 8px;
}


.footer-block{
    bottom: 0;
    width: 100% !important;
    display: flex;
    justify-content: space-around;
    margin-left: -293px;
}



